@import "tailwindcss";

@theme {
    --color-first: #efafec;
    --color-hovering: #d178cd;
    --color-secondary: #e1049e;
    --color-hoveringS: #ff26bd;
    --color-pageBG: #ffc6ff;
    --color-almostwhite: #FFF9F2;
}